body {
    font-family: 'Poppins', monospace;
    scroll-behavior: smooth;
}

h1{
    border: none;
}

h3 {
    border: none;
    height: 0px;
    margin-right: auto;
}

.wrapper {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.df {
    display: flex;
}

.chigtitle {
    font-size: 70;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.log-wrapper {
    height: 30px;
    display: flex;
    align-items: center;
}

.lia {
    height: 0px;
    margin-right: auto;
}

.topbutton {
    height: 30px;
}

.invitesbtn {
    margin-right: 7px;
}

.transparent {
    opacity: 0%;
}

.messages {
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%;
    height: 340px;
    padding: 5px;
}

.messages::-webkit-scrollbar {
    display:none
}

.message-form {
    width: 100%; 
}

.chatbox {
    width: 100%;
}

.submit {
    float: right;
    width: auto;
}

.madewith {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    float: right;
}

.invites {
    overflow-y:scroll;
    width: 100%;
    height:400px;
    padding: 5px
}

.lfu {
    display: inline-block;
    width: 95px;
}

.inpus {
    width: 100%;
    margin: 2px;
}

.submit-l {
    margin-left: 10px;
}

.marginafter {
    margin-top: 5px;
}

.error {
    width: 50%;
    height: auto;
    color: crimson;
    border: 2px solid crimson;
}
