<!DOCTYPE html>
<html>
    <head>
        <title>ChIG Beta</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
        <link rel="stylesheet" href="https://newcss.net/theme/night.css"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,200&display=swap" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    </head>
    <body>
        <div class="wrapper" id="wrapper" >
            <h1 class="chigtitle">ChIG Beta</h1>
            <br>
            <div class="log-wrapper" id="log-wrapper">
                <p class="lia" >Logged in as {{ username }}</p>
                <button type="button" class="topbutton invitesbtn" onclick="location.href='/invites';">My Invites</button>
                <button type="button" class="topbutton" onclick="location.href='/logout';">Log Out</button>
            </div>
            <hr class="transparent">
            <div class="messages" id="messages"></div>
            <form id="message-form" autocomplete="off">
                <input type="text" id="message-input" class="chatbox" name="message-input">
                <button type="submit" id="send-message" class="submit">Send</button>
            </form>
        </div>

        <script>    
            var socket = io.connect(document.URL);

            function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
            }

            var form = document.getElementById("message-form");

            function handleForm(event) {
                event.preventDefault();
                var messageInput = document.getElementById('message-input');
                var message = messageInput.value;
                var formData = new FormData(document.getElementById('message-form'));
                console.log(message)
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/send');
                socket.emit('new_message');
                xhr.send(formData);
                messageInput.value = '';
                updateMessages();
            } 
            form.addEventListener('submit', handleForm);

            socket.on('new_message', function() {
                updateMessages()
            });

            function updateMessages() {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/messages');
                xhr.onload = function() {
                    var messages = JSON.parse(xhr.responseText);
                    var messagesDiv = document.getElementById('messages');
                    messagesDiv.innerHTML = '';
                    for (let created_at in messages) {
                        let p = document.createElement('p');
                        p.innerHTML = `<b>${messages[created_at]['sent_by']}:</b> ${messages[created_at]['message']}`;
                        messagesDiv.appendChild(p);
                        messagesDiv.scrollTop = messagesDiv.scrollHeight;
                    }
                };
                xhr.send();
            }

            updateMessages();
        </script>
    </body>
</html>