<!DOCTYPE html>
<html>
    <head>
        <title>Invites</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
        <link rel="stylesheet" href="https://newcss.net/theme/night.css"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,200&display=swap" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    </head>
    <body>
        <h1 class="chigtitle">ChIG Beta</h1>
        <br>
        <div class="log-wrapper" id="wrapper">
            <p class="lia">Invites for <b>{{ username }}</b></p>
            <button type="button" class="topbutton invitesbtn"onclick="location.href='/'">Back To Chat</button>
            <button type="button" class="topbutton"onclick="location.href='/reqinv'">Request Invite</button>
        </div>
        <hr>
        <div id="invites"></div>
    
        <script>
            var xhr = new XMLHttpRequest();
                xhr.open('GET', '/invq');
                xhr.onload = function() {
                    var invites = JSON.parse(xhr.responseText);
                    var invitesDiv = document.getElementById('invites');
                    invitesDiv.innerHTML = '';
                    for (let idi in invites) {
                        let p = document.createElement('p');
                        p.innerHTML = `<b>${invites[idi]['invite']}</b> <br> Expires: ${invites[idi]['expires']}`;
                        invitesDiv.appendChild(p);
                }
            };
            xhr.send();
        </script>
    
    </body>
</html>
