<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="post" autocomplete="off">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" autocomplete="off" required>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" autocomplete="off" required>
      <br>
      <button type="submit">Log in</button>
      <button type="button" onclick="location.href='/register'">Register</button>
    </form>
  </body>
</html>
