<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
        <link rel="stylesheet" href="https://newcss.net/theme/night.css"> 
    </head>
    <body>
        <h1 style="display: flex; justify-content: center;">ChIG Beta</h1>
        <div id="wrapper" style="display: flex; margin: auto; justify-content: center; align-items: center;">
            <form action="/register" method="post" autocomplete="off">
                <label for="username" style="display: inline-block; width: 90px;"><b>Username:</b></label>
                <input type="text" id="username" name="username" style="width: 100%;" required>
                <br>
                <label for="password" style="display: inline-block; width: 90px;"><b>Password:</b></label>
                <input type="password" id="password" name="password" style="width: 100%;" required>
                <br>
                <label for="invite" style="display: inline-block; width: 90px;"><b>Invite:</b></label>
                <input type="text" id="invite" name="invite" style="width: 100%;" required>
                <br>
                <button type="submit" style="float: right;">Register</button>
            </form>
        </div>
    </body>
</html>
